body {
   margin:0px;
   padding:0px;
   background-color: #E9E9E9;
}

.btn-primary, .btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  background-repeat:no-repeat;
  background-position:0px 0px;
  padding-left:40px;
}

.btn-google_plus, .btn-google_plus:active { background-image:url("../img/logo-google-plus.png"); background-color:#C8311E; }
.btn-github, .btn-github:active { background-image:url("../img/logo-github.png"); }
.btn-twitter, .btn-twitter:active { background-image:url("../img/logo-twitter.png"); }

#ocr_content {
  position:relative;
  width: 800px;
  background-color: white;
  height: 1316.9313957418px;
  font-family:serif;
}

/* http://blog.vjeux.com/2011/css/css-one-line-justify.html */
/* This ensures single line of text is justified */
.ocr_line {
  text-align: justify;
}
.ocr_line:after {
  content: "";
  display: inline-block;
  width: 100%;
}

.ocr_edited {
  background-color: #FFFF66;
}

#ocr_image_container{
  display:none;
  box-shadow: 4px 4px 4px rgba(64,64,64,0.5);
  position:absolute;
  top:0px;
  left:0px;
  border:1px solid rgb(192,192,192);
  width:100%;
  background:white;
  height:0px;
}

#ocr_image{
  position:absolute;
  z-index:100;
  background-color:white;
  left:0px;
  top:35px;
  display:none;
}

#ocr_edit_history {
  padding-right:40px;
  height:800px;
  overflow:auto;
  margin-top:40px;
}

#ocr_edit_history img{
  width:48px;
}

.ocr_edit_item {
  background-color: white;
  padding: 4px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(192, 192, 192);
}

.highlight-orange{
  background-color:orange;
}