<?php

// root directory
defined("ROOT") || define("ROOT", dirname(__DIR__));

//local app for testing
defined("HTTP_HOST") || define("HTTP_HOST", "http://www.ocr-correction.local/");

// CouchDB database name
defined("DB_NAME") || define("DB_NAME", "ocr");

// CouchDB protocol
defined("DB_PROTOCOL") || define("DB_PROTOCOL", "http");

// CouchDB host
defined("DB_HOST") || define("DB_HOST", "localhost");

// CouchDB port
defined("DB_PORT") || define("DB_PORT", 5984);

// CouchDB login name
defined("DB_USER") || define("DB_USER", null);

// CouchDB password
defined("DB_PASS") || define("DB_PASS", null);

// DjVu & png public URL path without leading slash, with trailing slash
defined("DJVU_PATH") || define("DJVU_PATH", "public/examples/");

// Allow (or not) anonymous editing
defined("PERMIT_ANON") || define("PERMIT_ANON", true);

defined("OAUTH_KEY") || define("OAUTH_KEY", "");

defined("OAUTH_SECRET") || define("OAUTH_SECRET", "");

date_default_timezone_set('UTC');
mb_internal_encoding("UTF-8");
mb_http_output("UTF-8");